{% extends 'base.html' %}

{% block head %}
<title>{{ name }}</title>
<style>
    /* Additional styles for file preview modal */
    .modal-dialog {
        max-width: 90%;
    }

    .modal-content {
        max-height: 90vh;
        overflow: hidden;
    }

    .modal-body {
        text-align: center;
    }

    .modal-body img,
    .modal-body video {
        max-width: 100%;
        max-height: calc(100vh - 200px);
        margin: auto;
        display: block;
    }
</style>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb" style="overflow: scroll;">
    <ol class="breadcrumb mt-2">
        {% for item in locations %}
        <li class="breadcrumb-item"><a href="/folder/{{ item.id }}">{{ item.name }}</a></li>
        {% endfor %}
    </ol>
</nav>

<main class="container">
    <section class="folders-section mb-4">
        <h3>Folders ({{ num_folders }})</h3>
        <div class="g-container" id="folders">
        </div>
    </section>

    <section class="files-section">
        <h3>Files ({{ num_files }})</h3>
        <div class="g-container" id="files">
        </div>
    </section>
</main>

<div class="modal fade" id="filePreviewModal" tabindex="-1" aria-labelledby="filePreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>
    async function copyLink(path) {
        try {
            await navigator.clipboard.writeText(window.location.origin + path);
            alert('Link copied to clipboard');
        } catch (err) {
            alert('Failed to copy the link: ', err);
        }
    }
</script>

<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js';
    import { getFirestore, collection, doc, getDoc } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-firestore.js';

    const firebaseConfig = {
        apiKey: "AIzaSyCfaVQ7rQJQ1-2dNrj1rvBaMtVQqTL_n6I",
        authDomain: "nemostyne-core.firebaseapp.com",
        projectId: "nemostyne-core",
        storageBucket: "nemostyne-core.appspot.com",
        messagingSenderId: "574915725086",
        appId: "1:574915725086:web:1170b007f88358564beb0f",
        measurementId: "G-GNN7MH6RYY"
    };

    const app = initializeApp(firebaseConfig);
    const db = getFirestore();

    const foldersCollection = collection(db, "folders");
    const filesCollection = collection(db, "files");

    const FOLDERS = {{ folders | tojson }};
    const FILES = {{ files | tojson }};

    const foldersElement = document.getElementById("folders");
    const filesElement = document.getElementById("files");

    function getIcon(filename) {
        const ext = filename.split('.').pop().toLowerCase();
        if (['gif', 'png', 'jpg', 'jpeg', 'bmp', 'svg', 'webp'].includes(ext)) {
            return 'image';
        } else if (['mp4', 'mov', 'avi', 'mkv', 'flv', 'wmv', 'webm'].includes(ext)) {
            return 'video';
        } else if (['pdf', 'doc', 'docx', 'ppt', 'pptx', 'xls', 'xlsx', 'txt'].includes(ext)) {
            return 'file-alt';
        } else {
            return 'file';
        }
    }

    function truncateName(name) {
        return name.length > 18 ? name.slice(0, 18) + "..." : name;
    }
    
    async function fetchThumbnail(docId) {
        try {
            const response = await fetch(`/thumbnail/${docId}`);
            if (response.ok && response.redirected === false) {
                const blob = await response.blob();
                return URL.createObjectURL(blob);
            }
        } catch (error) {
            return null;
        }
        return null;
    }

    function formatDateTime(date) {
        date = new Date(date.seconds * 1000 + Math.floor(date.nanoseconds / 1000000));

        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0');
        const day = String(date.getDate()).padStart(2, '0');
        const hours = String(date.getHours()).padStart(2, '0');
        const minutes = String(date.getMinutes()).padStart(2, '0');
        const seconds = String(date.getSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }

    if (FOLDERS.length == 0) foldersElement.innerHTML = `<p>No folders available.</p>`;
    if (FILES.length == 0) filesElement.innerHTML = `<p>No files available.</p>`;

    async function getFolders() {
        for (const folderID of FOLDERS) {
            const docRef = doc(foldersCollection, folderID);
            const docSnap = await getDoc(docRef);

            if (docSnap.exists()) {
                const data = docSnap.data();

                foldersElement.innerHTML += `
                    <ul class="list-group shadow flex-row align-items-center">
                        <a href="/folder/${docSnap.id}" class="list-group-item list-group-item-action d-flex align-items-center text-decoration-none text-reset border-0">
                            <i class="fa-solid fa-folder me-3" style="font-size: 2rem;"></i>
                            <div>
                                <p class="text-body-primary mb-0">${truncateName(data.name)}</p>
                                <small class="text-body-secondary">${formatDateTime(data.created)}</small>
                            </div>
                        </a>
                        <i class="fa-solid fa-link mx-3" onclick="copyLink('/folder/${docSnap.id}')"></i>
                    </ul>
                `;
            }
        }
    }

    async function getFiles() {
        for (const fileID of FILES) {
            const docRef = doc(filesCollection, fileID);
            const docSnap = await getDoc(docRef);

            if (docSnap.exists()) {
                const data = docSnap.data();

                const icon = getIcon(data.name);
                var iconHtml = `<i class="fa-solid fa-${icon} m-3" style="font-size: 3rem;"></i>`;

                if (icon == "image") {
                    const thumbnailUrl = await fetchThumbnail(docSnap.id);

                    if (thumbnailUrl) {
                        iconHtml = `<img src="${thumbnailUrl}" alt="thumbnail" class="m-2 me-3" style="width: 64px; height: 64px; border-radius: 5px; object-fit: cover;">`;
                    }
                }

                filesElement.innerHTML += `
                    <ul class="list-group shadow flex-row align-items-center">
                        <a href="/file/${docSnap.id}" class="list-group-item list-group-item-action d-flex align-items-center text-decoration-none text-reset border-0 p-0">
                            ${iconHtml}
                            <div>
                                <p class="text-body-primary mb-0">${truncateName(data.name)}</p>
                                <small class="text-body-secondary">${formatDateTime(data.created)}</small>
                            </div>
                        </a>
                        <i class="fa-solid fa-link mx-3" onclick="copyLink('/file/${docSnap.id}')"></i>
                    </ul>
                `;
            }
        }
    }

    getFolders();
    getFiles();
</script>
{% endblock %}
